<h2></h2>
    <div class="form-container">
        <table class="table">
            <thead>
              <tr>
                <th></th>
                <th scope="col">Código</th>
                <th scope="col">Data</th>
                <th scope="col">Tipo</th>
                <th scope="col">Marca</th>
                <th scope="col">Caracteristica</th>
                <th scope="col">Tamanho</th>
                <th scope="col">Cor</th>
                <th scope="col">Valor de Etiqueta</th>
                <th scope="col">Valor de Compra</th>
                <th scope="col">Valor de Margem</th>
                <th scope="col">Preço Sugerigo</th>
              </tr>
            </thead>
            <tbody ng-repeat="x in vm.listarProduto track by x._id">


              <tr>
                <td class="text-center">
                  <input type="checkbox" ng-model="produto.selected" ng-change="vm.setProdutoSelecionado(x)"/>
                </td>
                <td>{{x.codigoItem}}</td>
                <td>{{x.dataEntrada}}</td>
                <td>{{x.tipo}}</td>
                <td>{{x.marca}}</td>
                <td>{{x.caracteristica}}</td>
                <td>{{x.tamanho}}</td>
                <td>{{x.cor}}</td>
                <td>{{x.valorEtiqueta}}</td>
                <td>{{x.valorCompra}}</td>
                <td>{{x.valorMargem}}</td>
                <td>{{x.precoSugerido}}</td>
                <td scope="col"><button class="btn btn-primary" ng-click="vm.deleteProduto(x._id)">Delete </button><td>
                  
              </tr>
            </tbody>
          </table>

          <hr/>

          <h3>Atualizar produto</h3>
          <br>
          <form method="post">
            <div class="form-group">
                <label for="codigoItem">Código do item</label>
                <input type="number" id="codigoItem" class="form-control" ng-model="vm.produtoSelecionado.codigoItem" required />
            </div>
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <input type="text" id="tipo" class="form-control" ng-model="vm.produtoSelecionado.tipo" required />
            </div>
            <div class="form-group">
                <label for="marca">Fabricante</label>
                <input type="text" id="marca" class="form-control" ng-model="vm.produtoSelecionado.marca" required />
            </div>
            <div class="form-group">
                <label for="caracteristica">Caracteristica</label>
                <input type="text" id="caracteristica" class="form-control" ng-model="vm.produtoSelecionado.caracteristica" required />
            </div>
            <div class="form-group">
                <label for="tamanho">Tamanho</label>
                <input type="text" id="tamanho" class="form-control" ng-model="vm.produtoSelecionado.tamanho" required />
            </div>
            <div class="form-group">
                <label for="cor">Cor</label>
                <input type="text" id="cor" class="form-control" ng-model="vm.produtoSelecionado.cor" required />
            </div>
            <div class="form-group">
              <label for="valorEtiqueta">Valor de Etiqueta</label>
              <input type="number" id="valorEtiqueta" class="form-control" ng-model="vm.produtoSelecionado.valorEtiqueta" required />
          </div>
  
            <div class="form-group">
                <label for="valorCompra">Valor de Compra</label>
                <input type="number" id="valorCompra" class="form-control" ng-model="vm.produtoSelecionado.valorCompra" required />
            </div>
            <div class="form-group">
                <label for="valorMargem">Valor de Margem</label>
                <input type="number" id="valorMargem" class="form-control" ng-model="vm.produtoSelecionado.valorMargem" required />
            </div>
            <div class="form-group">
                <label for="precoSugerido">Preço de Venda Sugerido</label>
                <input type="number" id="precoSugerido" class="form-control" ng-model="vm.produtoSelecionado.precoSugerido" required />
            </div>
    
            <div class="form-group">
                <label for="dataEntrada">Data de Entrada do Produto</label>
                <input type="date" id="dataEntrada" class="form-control" ng-model="vm.produtoSelecionado.dataEntrada" required />
            </div>
           </form>

</div>

<div class="form-group">
  <button class="btn btn-primary" ng-click="vm.updateProduto()">Atualizar</button>
</div>

