<h1>Informações pessoais</h1>
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="firstName">Nome</label>
            <input type="text" id="firstName" class="form-control" ng-model="vm.user.name" required />
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ng-model="vm.user.username" disabled required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" ng-model="vm.user.password" />
        </div>

<div class="row">

  <div class="col-md-3 col-xs-4">
    <div class="form-group">
      <label for="idadeUser">Idade:</label>
      <input type="number" class="form-control"   ng-model="vm.user.idade" required>
    </div>
  </div>

    <div class="col-md-3 col-xs-4">
    <div class="form-group">
      <label for="alturaUser">Altura (em cm):</label>
      <input type="number" class="form-control"   ng-model="vm.user.altura" required>
    </div>
  </div>

  <div class="col-md-3 col-xs-4">
    <div class="form-group">
      <label for="pesoUser">Peso (em kg):</label>
      <input type="number" class="form-control"   ng-model="vm.user.peso" required>
    </div>
  </div>

   <div class="col-md-3 col-xs-4">
    <div class="form-group">
      <label for="sexoUser">Sexo:</label>
      <select class="form-control" data-size="5" data-live-search="true" data-width="100%" ng-model="vm.user.sexo" require >
            <option selected disabled>Escolha uma opção</option>
            <option>Masculino</option>
            <option>Feminimo</option>
            <option>Indefinido</option>

        </select>
    </div>
  </div>
  

</div>

 
</div>




        <div class="form-group">
            <label for="tipo">Endereço</label>
            <input type="text" id="enderecoCiente" placeholder="Endereço" class="form-control" ng-model="vm.user.endereco" required />
        </div>

        <div class="row">

  <div class="col-md-4 col-xs-4">
    <div class="form-group">
      <label for="idadeUser">CEP:</label>
      <input type="text" class="form-control"  placeholder="Cep" name="cepUser" ng-model="vm.user.cep" required>
    </div>
  </div>

    <div class="col-md-4 col-xs-4">
    <div class="form-group">
      <label for="cidadeUser">Cidade:</label>
      <input type="text" class="form-control"  placeholder="Cidade" name="cidadeUser" ng-model="vm.user.cidade" required>
    </div>
  </div>

  <div class="col-md-4 col-xs-4">
    <div class="form-group">
      <label for="estadoUser">Estado:</label>
      <input type="text" class="form-control"  placeholder="Estado" name="cidadeUser" ng-model="vm.user.estado" required>
    </div>
  </div>

</div>
</div>



        <div class="form-group">
            <label for="descricaoTreinoUser">Objetivos</label>
            <textarea class = "form-control" id="descricaoTreinoUser" class="form-control" ng-model="vm.user.objetivos" rows="5" required/>
        </div>
   
        <div class="form-group">
            <label for="dataCadastro">Ultima alteração</label>
            <input type="text" id="dataCadastro" class="form-control" disabled ng-model="vm.user.dataCadastro" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveUser()">Save</button>
            <button class="btn btn-danger" ng-click="vm.deleteUser()">Delete</button>
        </div>
    </form>
</div>
